body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.goods{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap:1rem;
  margin-top: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 6;
  padding: 10px;
  background-color: rgb(76, 76, 196);
}
/* .card-content{
  flex-grow: 1;
} */

@media (min-width:767px) {
  .cart{
    top: 3rem;
    bottom: unset;
  }
}

.basket{
  width: 400px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgb(76, 76, 196);
  z-index: 999;
}